<div class="list-group">
    {% for row in data %}
        {% set translation = row.translation %}
        <a role="option" class="list-group-item list-group-item-action"
            href="{{path('app_page', {slug: translation.slug})}}">

            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <span class="px-1">{{ translation.name }}</span>
                </div>
                {#<em></em>#}
            </div>
        </a>
    {% else %}
        <div class="list-group-item" role="option" aria-disabled="true">No results found!</div>
    {% endfor %}
</div>