{% extends 'base.html.twig' %}

{% block title %}
	{{'Catalog'|trans}}
{% endblock %}

{% block body %}

	{% set data = arr_catalog_data.data %}


	<div {{ stimulus_controller('catalog', { url: path('ajax_app_products') } ) }} data-action="scroll@window->catalog#handleScroll" id="page" class="catalog">

		<div
			class="container my-5">

			<!--Content products-->
			<div class="container-products">
				<div id="entries" class="row" data-catalog-target="entries">

					{{ include('page/_products.html.twig', {data: data}) }}

				</div>
			</div>
			<!--END Content products-->
		</div>
	</div>

	{#{{ include('page/_widgets.html.twig', {obj_widgets: obj_widgets, container: true}) }}#}


{% endblock %}
