<div id="modal-delete" class="modal fade show" tabindex="-1" style="display: none;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h4>¿Realmente quieres borrar este elemento?</h4>
                <p>Esta acción no se puede deshacer.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">
                    <span class="btn-label">Cancelar</span>
                </button>

                <button type="button" data-bs-dismiss="modal" class="btn btn-danger" id="modal-delete-button" form="delete-form">
                    <span class="btn-label">Borrar</span>
                </button>

            </div>
        </div>
    </div>
</div>