{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}

	<div class="container my-5">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 login-form bg-light mt-4 p-4">

				<p>
					Si existe una cuenta que coincide con tu correo electrónico, se acaba de enviar un correo electrónico con un enlace que puedes usar para restablecer tu contraseña. Este enlace caducará en
					{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
				</p>
				<p>Si no recibes un correo electrónico, revisa tu carpeta de correo no deseado o
					<a class="btn btn-success" href="{{ path('app_forgot_password_request') }}">vuelve a intentarlo</a>.</p>


			</div>
		</div>
	</div>

{% endblock %}
