<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
	<head>
		<title></title>
		<!--[if !mso]>-->
		<meta
		http-equiv="X-UA-Compatible" content="IE=edge">
		<!--<![endif]-->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<style type="text/css">
			#outlook a {
				padding: 0;
			}
			.ReadMsgBody {
				width: 100%;
			}
			.ExternalClass {
				width: 100%;
			}
			.ExternalClass * {
				line-height: 100%;
			}
			body {
				margin: 0;
				padding: 0;
				-webkit-text-size-adjust: 100%;
				-ms-text-size-adjust: 100%;
				font-family: 'Roboto', Arial !important;
			}
			table,
			td {
				border-collapse: collapse;
				mso-table-lspace: 0;
				mso-table-rspace: 0;
			}
			img {
				border: 0;
				height: auto;
				line-height: 100%;
				outline: none;
				text-decoration: none;
				-ms-interpolation-mode: bicubic;
			}
			p {
				display: block;
				margin: 16px 0;
			}
		</style>

		<!--[if !mso]><!-->
		<style type="text/css">
			@media only screen and(max-width:480px) {
				@-ms-viewport {
					width: 320px;
				}
				@viewport {
					width: 320px;
				}
			}
		</style>
		<!--<![endif]-->
		<!--[if mso]>
								        <xml>
								        <o:OfficeDocumentSettings>
								          <o:AllowPNG/>
								          <o:PixelsPerInch>96</o:PixelsPerInch>
								        </o:OfficeDocumentSettings>
								        </xml>
								        <![endif]-->
		<!--[if lte mso 11]>
								        <style type="text/css">
								          .outlook-group-fix { width:100% !important; }
								        </style>
								        <![endif]-->
		<!--[if !mso]><!-->
		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css"> <style type="text/css">
			@import url('https://fonts.googleapis.com/css?family=Oswald');
		</style>
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
		<style type="text/css">
			@import url(https:////fonts.googleapis.com/css?family=Roboto:300,400,500,700);
		</style>

		<!--<![endif]-->
		<style type="text/css">
			@media only screen and(min-width:480px) {
				.mj-column-per-100 {
					width: 100% !important;
					max-width: 100%;
				}
			}
		</style>
		<style type="text/css">
			@media only screen and(max-width:480px) {
				table.full-width-mobile {
					width: 100% !important;
				}
				td.full-width-mobile {
					width: auto !important;
				}
			}
		</style>
	</head>

	<body style="background-color:#FCFCFC;">
		<div
			style="background-color:#FCFCFC;">

			<!-- Logo here
												https://www.coesa.com/images/logo.png
												
												 -->


			{% block body %}{% endblock %}

			<div>---<span class="im"><br>
					<p>
						<span style="font-size:10pt">
							<strong>Saludos cordiales.&nbsp;</strong>
						</span>
					</p>
					<p>
						<span style="font-size:8pt">
							<strong>
								<div id=":6mb" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Descargar el archivo adjunto e3f3d310.jpeg" data-tooltip-class="a1V" data-tooltip="Descargar">
									<div class="aSK J-J5-Ji aYr"></div>
								</div>
								<div id=":6mc" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Guardar el archivo adjunto e3f3d310.jpeg en Drive" data-tooltip-class="a1V" data-tooltip="Guardar en Drive">
									<div class="wtScjd J-J5-Ji aYr aQu">
										<div class="T-aT4" style="display: none;">
											<div></div>
											<div class="T-aT4-JX"></div>
										</div>
									</div>
								</div>
							</div>
						</strong>
					</p>
				</span>
			</p>
			<p>&nbsp;</p>
			<p style="font-weight:400;font-size:8pt">
				<u>AVISO SOBRE CONFIDENCIALIDAD</u>: Este mensaje se dirige exclusivamente a su destinatario. Puede contener información confidencial sometida a secreto profesional. Si no es usted el destinatario debe saber que la información contenida en este mensaje es reservada y su utilización o divulgación con cualquier fin está prohibida. Si ha recibido este documento por error, le rogamos que nos lo comunique y proceda a su destrucción.</p>
			<p style="font-weight:400;font-size:8pt">Le informamos que sus datos personales son tratados de conformidad con lo establecido en el<span>&nbsp;</span>
				<span style="color:#ff6600">
					<strong>REGLAMENTO (UE) 2016/679 de protección de datos de carácter personal.</strong>
				</span>
				<span>&nbsp;</span>El Responsable del tratamiento de sus datos es<span>&nbsp;</span>
				<strong>COESA PACK - Contómetros Especiales S.A.C</strong>
				<span>&nbsp;</span>con CIF B-85489672<span>&nbsp;</span>
				<strong>con la finalidad de remitirle información sobre los servicios que tiene contratados así como enviarles publicidad e información sobre nuestros productos y servicios</strong>. El tratamiento de sus datos está legitimado para el cumplimiento de un contrato y/o relación contractual y el consentimiento. Sus datos podrán ser objeto de tratamiento por terceros (serán encargados del tratamiento destinatarios de sus datos con una finalidad contractual lícita, por ejemplo nuestra empresa de mantenimiento informático) exigiendo el mismo nivel de derechos, obligaciones y responsabilidades establecidas. Podrá ejercer los derechos de acceso, rectificación, limitación de tratamiento, supresión, portabilidad y oposición al tratamiento de sus datos de carácter personal, dirigiendo su petición al correo electrónico<span>&nbsp;</span>
				<span style="color:#ff6600">
					<strong>
						<em>
							<a href="mailto:protecciondedatos@coesa.com" target="_blank">protecciondedatos@<wbr>coesa.escom</a>
						</em>
					</strong>
				</span>
			</p>
		</span>
	</body>
</html></div></body></html>
