
    <div class="widget-language-toggle" {{stimulus_controller('language', {
                                            primaryColor: secondaryColor, 
                                            secondaryColor: primaryColor,
                                            locale: app.request.locale
                                            }) }}>

        <a href="javascript:void(0);" 
            data-action="click->language#onCLick" 
            language="en" 
            class="btn btn-sm btn-link {{ (app.request.locale == 'en') ? 'disabled': 'active' }}">ENG</a>

        <a href="javascript:void(0);" 
            data-action="click->language#onCLick" 
            language="es" 
            class="btn btn-sm btn-link {{ (app.request.locale == 'es') ? 'disabled': 'active' }}">ESP</a>

    </div>
