{% set translation = obj_widget.getTranslation %}

{% if container is defined and container %}
<div class="container wd">
{% endif %}

    <div class="row">
        <div class="col-md">
            {{translation.body|raw}}
        </div>
    </div>

{% if container is defined and container %}
</div>
{% endif %}